{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "node/no-extraneous-import": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/prefer-array-some": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/consistent-destructuring": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/import-style": "off"
  }
}
